* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: clamp(40%, 1% + 2vw, 62.5%);

    --bg-color: #fafaf9;

    --wrapper-bg-color: #fafafa;

    --card-bg-color: #fff;
    --card-border-color: #a1a1aa;

    --aliatto-blue: #113E69;
    --aliatto-green: #91C746;

    --red: #dc2626;
    --green: #65a30d;
}

body, button {
    font-family: 'Mulish', sans-serif;
}

body {
    font-size: 1.6rem;

    background-color: var(--bg-color);

    height: 100%;
}

#app {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 2.4rem;
}

/* HEADER */
header,
.gas-pump-card {
    border: 1px solid var(--card-border-color);
    border-radius: .8rem;
    background-color: #fff;
}

header {
    padding: 2rem 4.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .card-info {
    align-items: end;
}
header .card-info p {
    color: var(--green);
}
#negative {
    color: var(--red)
}

#card-container {
    width: 100%;
    display: grid;
    place-items: center;
    gap: 2.4rem;

    padding: 3.2rem;
}

/* CARD AREA  */
#card-area {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 2rem;
}

/* GAS PUMP CARD */
.gas-pump-card {
    width: 100%;
    padding: 2.4rem;

    display: flex;
    flex-direction: column;
    gap: 2.4rem;

}

.card-title {
    display: flex;
    align-items: center;
    gap: 2.4rem;

    padding-bottom: .8rem;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.card-title h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 3.2rem;
    text-transform: uppercase;
}

.card-title i {
    font-size: 5.2rem;
    color: var(--aliatto-blue);
}

.card-info {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.card-info h3 {
    font-size: 1.6rem;
    color: rgba(0, 0, 0, .7);
    font-weight: 600;
}

.card-info p {
    font-size: 2.4rem;
    font-weight: 600;
}

/* SCREEN WRAPPER */
#screen-wrapper {
    display: flex;
    flex-direction: column;
}

#screen-navigation {
    display: flex;
    gap: .8rem;

    background-color: var(--bg-color);
    border-radius: .8rem .8rem 0 0;
}

#screen-navigation button {
    width: 23rem;
    padding: .8rem;
    font-size: 1.6rem;
    font-weight: 700;
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
}

#screen-navigation button:hover {
    background-color: rgba(0, 0, 0, .1);
    border-radius: .8rem .8rem 0 0;
}

button#selected {
    background-color: #fff;
    border: 1px solid var(--card-border-color);
    border-bottom: 0;
    border-radius: .8rem .8rem 0 0;

    pointer-events: none;
    position: relative;
}

button#selected::after {
    content: '';
    background-color: #fff;
    height: 10px;
    display: block;
    position: absolute;
    bottom: -10;
    right: 0;
    left: 0;
}

#screen-content {
    border: 1px solid var(--card-border-color);
    border-radius: 0 .8rem .8rem .8rem;
    
    background-color: #fff;

    padding: 2rem;
}